.container{
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* resume card styling */
.resume{
    display: flex;
    margin: 1px;
    width: 80%;
    background-color: white;
}

.education, .skills{
    padding: 5px;
}

/* contact card styling */
.contact-card{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 10px;
    background-color: black;
    padding: 15px;
    color: white;
}

.contact-details{
    margin-bottom: 2px;
}

.contact-card i{
    margin-bottom: 14px;
}

.contact-link:link{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.contact-link:visited{
    color: white;
    text-decoration: none;
}

.contact-link:hover{
    color: white;
    text-decoration: none;
    font-size: 16.5px;
}


img{
    background-color: white;
    margin-right: 2px;
    margin-top: 2px;
    height: 12px;
    width: 13px;
}


.right-panel{
    padding: 10px;
}
.education p{
    margin-bottom: 0px;
}

.education p, i, a{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.job-title{
    margin-bottom: 0px;
}

.project-title{
    margin-bottom: 0px;
}

.visitor-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.count{
    margin-left: 2.5px;
}

.count, .count-label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
